<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safiraaini.safira_1202154315_modul6">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity
            android:name=".Home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Upload" />
        <activity android:name=".post" />
        <activity android:name=".DBPost" />
        <activity android:name=".DBcomment" />
        <activity android:name=".AdapterComment" />
        <activity android:name=".AdapterPost" />
        <activity android:name=".homeall" />
        <activity android:name=".homeuser"></activity>
    </application>

</manifest>